@model AccountProfileViewModel
@{
    ViewBag.Title = Model.ApplicationUser.Firstname + " " + Model.ApplicationUser.Lastname;
}

<div class="container-fluid" id="margintop70">
    <div class="row">
        <div class="col-md-3">
            <img src="~/ProfilePics/@Model.ApplicationUser.PhotoPath" class="img-responsive" asp-append-version="true">
            <h3 class="text-center">
                @Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname
                @if(Model.IsCurrentUserProfile)
                {
                    <a class="aColor" asp-controller="Account" asp-action="EditProfile"><i class="fa fa-edit"></i></a>
                }
            </h3>
            
        </div>
        <div class="col-md-9">
             <div class="btn-group btn-group-justified" id="btnGroup">
              <a href="#" class="btn btn-warning">Photos: @Model.Photos.Count()</a>
              <a href="#" class="btn btn-warning">Likes: 12</a>
              <a href="#" class="btn btn-warning">Followers: 2</a>
              <a href="#" class="btn btn-warning">Following: 2</a>
            </div> 
            <partial name="_Gallery" model="@Model.Photos">
        </div>
    </div>
</div>