@model PhotosEditPhotoVM
@{
    ViewBag.Title = "Edit Photo";
}

<div class="container" id="margintop70">
    <div class="row">
        <h2 class="text-center">Edit Photo</h2>
        <div class="col-md-8 col-md-offset-2">
            <img src="~/Photos/@Model.PhotoPath" class="img-responsive">
            <form asp-controller="PhotosController" asp-action="EditPhoto">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="button-group pull-right">
                    <a asp-controller="Photos" asp-action="ViewPhoto" asp-route-id="@Model.Id" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>