@model SearchResultsViewModel
@{
    ViewBag.Title = "Search Results";
}

<div class="container-fluid" id="margintop70">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-controller="Search" asp-action="Results" method="post">
                <div class="col-md-8">
                    <input asp-for="SearchKey" class="form-control" placeholder="Search Key">
                </div>
                <div class="col-md-2">
                    <select asp-for="SearchType" asp-items="Html.GetEnumSelectList<SearchType>()" class="form-control col-md-12">
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-warning btn-block">Search</button>
                </div>
            </form>
        </div>
    </div>
    
    <hr>

    <h2 class="text-center">Search Results</h2>

    @if(Model.Photos.Any())
    {
        <partial name="_Gallery" model="@Model.Photos" />
    }else
    {
        <h3 class="text-danger text-center">No Results Found</h3>
    }

</div>
