@model SearchResultsViewModel
@{
    ViewBag.Title = "Search Results";
}

<partial name="_Header" />

<h2 class="text-center">Search Results</h2>

<div class="container-fluid">

    @if(Model.Photos.Count() > 0)
    {
        <partial name="_Gallery" model="@Model.Photos" />
    }else
    {
        <h3 class="text-danger text-center">No Results Found</h3>
    }

</div>
