@model PagingList<Photo>
@{
    ViewBag.Title = "Search Results";
}

<partial name="_Header" />

<h2 class="text-center">Search Results</h2>

<div class="container-fluid">

    @if(Model != null)
    {
        <partial name="_Gallery" model="@Model" />
    }else
    {
        <h3 class="text-danger">No Results Found</h3>
    }

</div>
