@model HomeIndexViewModel

<h2 class="text-center">Free Stock Photos</h2>

<div class="Gallery">
    @foreach(var photo in Model.Photos)
    {
        <img class="flex-img" src="@photo.Path">
    }
</div>
