@model HomeIndexViewModel
@{
  ViewBag.Title = "Index";
}

<partial name="_Header">

<h2 class="text-center">Recently Uploaded</h2>

<div class="container-fluid">

  <partial name="_Gallery" model="@Model.Photos">

</div>

