@{
    ViewBag.Title = "Not Found";
}
<div class="row" id="margintop70">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-danger">Sorry, The resource you requested could not be found.</h2>
    </div>
</div>